.message {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.cart-quantity{
    font-size: 18px;
}

.cart-header{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: .5rem;
    margin-bottom: 1rem;
}

.cart-header h2{
    font-size: 22px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.cart-header p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content-content{
    padding-left: 3rem;
    padding-right: 3rem;;
}

.cart-content{
    padding:0;
    list-style: none;
}

.total{

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px black solid;
    font-size: 22px;
    font-weight: 700;
}

.total h2{
    font-size: 22px;
}

.button{
    margin-bottom: 4rem;
    
}

@media (max-width: 600px){
    .background{
        width: 100vw;
        min-height: 100vh;
    }
    .content-content{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    /* .button{
        position: fixed;
    } */
    .close-icon{
        right: 1rem;
        top: 1rem;
    }
    .cart-header{
        margin-top: 1rem;
    }

}