.likes-header{
    margin-top: 2rem;
    margin-left: 2rem;
}

.likes-ul {
    list-style: none;
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}