.banner{
    background-color: rgb(218, 50, 218);
    color: rgb(45, 39, 62);
    cursor: pointer; 
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3.5rem;
}

.banner p{
    margin: 0;
    font-weight: 700;
    padding: .2rem;
    text-align: center;
    font-size: 18px;

}

@media(max-width: 600px){
    .banner p {
        font-size: 16px;
    }
    .banner {
        height: 2.5rem;;
    }
}